<div class="mt-4">
    <div class="row">
        <div class="col-md-6">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" placeholder="Country">
                <label for="country">Country</label>
              
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" placeholder="Province">
                <label for="Province">Province</label>
               
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" placeholder="District ">
                <label for="District">District</label>
              
            </div>
            <div class="form-floating ">
                <input type="text" class="form-control" placeholder="Sector">
                <label for="Sector">Sector</label>
                
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-between flex-row mb-5 mt-4">
    <button class="btn btn-outline-primary" cdkStepperPrevious>
        <i class="fa fa-angle-left"></i>Back to information 
    </button>
    <button class="btn btn-outline-primary" cdkStepperNext>
      Go to security   <i class="fa fa-angle-right"></i>
    </button>
</div>